<%inherit file="base.html"/>

<%block name="columns">
    <div id="TwoColumnWrapper">
        <div id="MainContent">
            <%block name="main_content"/>
        </div>
    </div>
    <div id="SidebarContent">
        <%block name="sidebar_content">
            % if session.user:
            <a href="/play" name="Play now" class="button special_button">Play now!</a></p>
                % if 'builder' in session.user['roles']:
                <a href="/builder" name="Location builder" class="button">Location builder</a></p>
                % endif
            % else:
            <h2>Sign in</h2>
            <form method="POST" action="/user/signin">
            <table>
                <tr><td><label for="email">E-mail</label></td><td><input type="text" value="" name="email" id="email" /></td></tr>
                <tr><td><label for="password">Password</label></td><td><input type="password" value="" name="password" id="password" /></td></tr>
                <tr><td colspan="2"><input type="submit" value="Sign in" class="button" /></td></tr>
            </table>
            </form>
            <p>Don't have an account?
            <a href="/user/signup" name="Free registration" class="button">Sign up for free!</a></p>
            % endif
        </%block>
    </div>
</%block>
