<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title><%block name="page_title" /></title>
        <link rel="icon" type="image/ico" href="/static/img/logo.ico" />
        <link rel="stylesheet" type="text/less" href="/static/style.less" />
        <script type="text/javascript" src="/static/js/less.js"></script>
        <script type="text/javascript" src="/static/js/jquery-1.8.0.js"></script>
        <script type="text/javascript" src="/static/js/firemark_global.js"></script>
        <%block name="javascript"/>
    </head>
    <body>
        <h1 class="page_header">
            <img src="/static/img/logo.png" class="logo" alt="Project Firemark" />
        </h1>
        <div id="ActionIndicator"></div>
        <%block name="columns"/>
    </body>
</html>
