<%inherit file="base_twocolumn.html"/>

<%block name="page_title">Firemark - location builder</%block>

<%block name="main_content">
    <h2>Location search</h2>
    <div id="SearchBox">
        <form id="LocationSearchForm">
            <input type="text" name="name_like" value="" id="LocationSearchInput" />
            <input type="submit" value="Search" class="button" />
        </form>
    </div>
    <div class="header">
        <div class="left"><h3>Locations</h3></div>
        <div class="right"><a href="#" class="button" id="AddLocation">Add new location</a></div>
        <div class="clear"></div>
    </div>
    <div class="listholder" id="Locations">
        % for i in range(1, 20):
        <div class="listitem location">
            <span class="name">Location name</span>
            <span class="actions">
                <a href="#">Entrance2Exit</a>
                <a href="#" class="img_button" style="background-image:url('/static/img/icon_edit.png')" /></a>
                <a href="#" class="img_button" style="background-image:url('/static/img/icon_delete.png')" /></a>
            </span>
            <div class="clear"></div>
        </div>
        % endfor
    </div>
    <div id="LocationEditor" style="display:none;">
        <div class="header">
            <div class="left"><h2 id="LocationEditorAction">Edit location</h2></div>
            <div class="right" id="LocationEditorTabs">
                <div class="tab active" id="LocationEditorTab_Data">Location data</div>
                <div class="tab" id="LocationEditorTab_Bricks">Bricks</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <form action="#" method="POST" id="LocationEditorForm">
        <div class="tabpage" id="LocationEditorData">
            <div class="header"><h3>Location data</h3></div>
            <form>
            <h4><label for="EditLocationName">Name</label></h4>
            <input type="text" name="tags" id="EditLocationTags"/>
            <div class="header">
                <div class="left"><h4>Namespaces</h4></div>
                <div class="right"><a href="#" class="button" id="AddNamespace">Add namespace</a></div>
                <div class="clear"></div>
            </div>
            <div class="listholder">
                % for i in range(1, 7):
                <div class="listitem namespace">
                    <span class="id">${i}</span>
                    <span class="name">Name</span>
                    <span class="actions">
                        <a href="#" class="img_button" style="background-image:url('/static/img/icon_delete.png')" /></a>
                    </span>
                    <div class="clear"></div>
                </div>
                % endfor
            </div>
            </form>
        </div>
        <div class="tabpage" id="LocationEditorBricks" style="display:none;">
            <div class="header">
                <div class="left"><h3>Bricks</h3></div>
                <div class="right"><a href="#" class="button" id="AddBrick">Add brick</a></div>
                <div class="clear"></div>
            </div>
            <div class="listholder">
                % for i in range(1, 20):
                <div class="listitem brick">
                    <span class="order">${i}</span>
                    <span class="actions">
                        <a href="#" class="img_button" style="background-image:url('/static/img/icon_edit.png')" /></a>
                        <a href="#" class="img_button" style="background-image:url('/static/img/icon_delete.png')" /></a>
                    </span>
                    <div class="clear"></div>
                    <div class="brick_content">Brick</div>
                </div>
                % endfor
            </div>
        </div>
        <div class="align_right">
            <input type="submit" id="LocationEditorSubmit" class="button" value="Save location"/>
            <input type="button" id="LocationEditorCancel" class="button" value="Cancel"/>
        </div>
        </form>
    </div>
</%block>
<%block name="javascript">
    <script type="text/javascript">
        $(document).ready(function() {
            $('a#AddLocation').click(function(evt) {
                evt.preventDefault();
                $('#LocationEditor h2#LocationEditorAction').html('Add location');
                $('#LocationEditor').show();
            });
            $('#LocationEditorTabs .tab').click(function(evt) {
                var selector = evt.target.id.split('_')[1];
                $('#LocationEditorTabs .tab').removeClass('active');
                $(evt.target).addClass('active');
                $('#LocationEditor .tabpage').hide();
                $('#LocationEditor'+selector).show();
            });
            $('form#LocationEditorForm').submit(function(evt) {
                evt.preventDefault();
                console.log($('input#EditLocationName').val());
                return false;
            });
            $('form#LocationSearchForm').submit(function(evt) {
                evt.preventDefault();
                var searchword = $('input#LocationSearchInput').val();
                $.post('/json/builder/searchlocation', {LocationSearch: searchword}, function(data) {
                    $('#Locations').empty();
                    if (data.locations) {
                        data.locations.each(function(item) {
                            $('#Locations').append('<div class="listitem location">' +
                                '<span class="name">' + item.name + '</span>' +
                                '<span class="tags">' + item.tags + '</span>' +
                                '<span class="actions"><a href="#">Entrance2Exit</a><a href="#">Edit</a><a href="#">Delete</a></span>' +
                                '<div class="clear"></div>' +
                                '</div>'
                            );
                        });
                    }
                });
                return false;
            });
        });
    </script>
</%block>
<%block name="sidebar_content">
    <a href="/play" name="Play now" class="button special_button">Play now!</a></p>
    <a href="/user/logout" name="Lod out" class="button">Logout</a></p>
</%block>
