<%inherit file="base_onecolumn.html"/>

<%block name="page_title">Firemark - home</%block>

<%block name="main_content">
    % if session.user:
    <h2 class="title">Welcome!</h2>
    <div class="align_center">
        <p>Thanks for logging in! :)</p>
        <a href="/play" name="Play now" class="button special_button">Play now!</a></p>
        % if 'builder' in session.user['roles']:
        <a href="/builder" name="Location builder" class="button">Location builder</a></p>
        % endif
    </div>
    % else:
    <h2>Sign in</h2>
    <form method="POST" action="/user/signin">
    <table>
        <tr><td><label for="email">E-mail</label></td><td><input type="text" value="" name="email" id="email" /></td></tr>
        <tr><td><label for="password">Password</label></td><td><input type="password" value="" name="password" id="password" /></td></tr>
        <tr><td colspan="2" class="align_right">
                <input type="submit" value="Sign in" class="button" />
        </td></tr>
        <tr><td colspan="2" class="align_right">
            <p>Don't have an account?
            <a href="/user/signup" name="Free registration" class="button">Sign up for free!</a></p>
        </td></tr>
    </table>
    </form>
    % endif
</%block>
