<%inherit file="base_onecolumn.html"/>

<%!
try:
    title_suffix = 'location %s' % location['name']
except NameError:
    title_suffix = 'error'
%>
<%block name="page_title">Firemark - ${self.attr.title_suffix}</%block>

<%block name="javascript">
    <script type="text/javascript" src="/static/js/firemark_locations.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#ActionIndicator').html('Loading current location...');
            $('#ActionIndicator').fadeIn();
            $.get('/json/play', function(data) {
                showCurrentLocation(JSON.parse(data));
            });
        });
    </script>
</%block>

<%block name="main_content">
    % if errno:
        <h2 class="title">Error ${errno}</h2>
        <p>${error}</p>
    % endif
    % if location:
        <h2 class="title">${location['name']}</h2>
        <div class="bricks">
            <!-- -->
        </div>
    % endif
</%block>
