<%inherit file="base_onecolumn.html"/>

<%block name="page_title">Firemark - sign up</%block>

<%block name="main_content">
    <h2 class="title">Sign up for free</h2>
    % if session.errno > 0:
    <p>${session.error}</p>
    <% session.errno = 0 %>
    % endif
    <form method="POST" action="/user/signup">
    <table>
        <tr><td><label for="email">E-mail</label></td><td><input type="text" value="" name="email" id="email" /></td></tr>
        <tr><td><label for="password">Password</label></td><td><input type="password" value="" name="password" id="password" /></td></tr>
        <tr><td><label for="password2">Repeat your password</label></td><td><input type="password" value="" name="password2" id="password2" /></td></tr>
        <tr><td><label for="login">Login</label></td><td><input type="text" value="" name="login" id="login" /></td></tr>
        <tr><td colspan="2"><input type="submit" value="Register" class="button" /></td></tr>
    </table>
    </form>
    <p>Already have an account?
    <a href="/user/signin" name="Sign in" class="button">Sign in and play!</a></p>
</%block>
