<%inherit file="base_onecolumn.html"/>

<%block name="page_title">Firemark - sign in</%block>

<%block name="main_content">
    <h2 class="title">Sign in</h2>
    <form method="POST" action="/user/signin">
    <table>
        <tr><td><label for="email">E-mail</label></td><td><input type="text" value="" name="email" id="email" /></td></tr>
        <tr><td><label for="password">Password</label></td><td><input type="password" value="" name="password" id="password" /></td></tr>
        <tr><td colspan="2"><input type="submit" value="Sign in" class="button" /></td></tr>
    </table>
    </form>
    % if session.errno == 12:
        <p>Forgot password?
        <a href="/user/password_reset" name="Password reset" class="button">Reset your password</a>
        <% session.errno = 0 %>
    % endif
    <p>Don't have an account?
    <a href="/user/signup" name="Free registration" class="button">Sign up for free!</a></p>
</%block>
